<footer class="section-footer" id="contacts">
  <div class="container">
    <div class="footer-block">
      <div class="logo-contacts">
        <svg class="icon-logo" width="127" height="20">
          <use href="./img/icons/sprite.svg#icon-logo"></use>
        </svg>
        <address>
          <ul>
            <li class="info-contacts-phone">
              <a class="phone" href="tel:+380665438912"
                >Uk: +38 066 543 8912
              </a>
            </li>
            <li class="info-contacts-location">
              <p class="location">Ukraine, Kyiv</p>
            </li>
          </ul>
        </address>
      </div>

      <div class="links-footer">
        <ul class="links-social-network">
          <li class="social-networks">
            <a
              class="social-network"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              >Instagram</a
            >
          </li>
          <li class="social-networks">
            <a
              class="social-network"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              >Facebook</a
            >
          </li>
          <li class="social-networks">
            <a
              class="social-network"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              >Youtube</a
            >
          </li>
        </ul>
        <ul class="links-anchor">
          <li class="links-anchor-items">
            <a class="anchor-item" href="#about-us">About us</a>
          </li>
          <li class="links-anchor-items">
            <a class="anchor-item" href="#our-courses">Our courses</a>
          </li>
          <li class="links-anchor-items">
            <a class="anchor-item" href="#our-mentors">Our mentors</a>
          </li>
          <li class="links-anchor-items">
            <a class="anchor-item" href="#reviews">Reviews</a>
          </li>
          <li class="links-anchor-items">
            <a class="anchor-item" href="#contacts">Contacts</a>
          </li>
        </ul>
      </div>

      <div class="container-form">
        <form class="footer-form" name="email">
          <label class="mail-field">
            <input
              name="user-email"
              class="mail-input"
              type="email"
              placeholder="Enter your email"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            />
          </label>
          <button class="mail-btn" type="submit">Go</button>
        </form>
      </div>
    </div>

    <div class="bottom-text">
      <div class="privacy-policy">
        <p class="text-footer">
          Privacy Policy<br />
          Public Offering Agreement
        </p>
      </div>
      <div class="focus-frame">
        <p class="text-footer">
          2023 Focus Frame<br />
          &#169; All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>
