<header class="header-section">
  <div class="header-inner container">
    <nav class="header-nav">
      <a class="logo" href="./header.html">
        <svg class="icon-logo" width="123px" height="16px">
          <use href="./img/icons/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="nav-list">
        <li>
          <a class="nav-link active" href="./about-us.html">About us</a>
        </li>
        <li>
          <a class="nav-link" href="./our-courses.html">Our courses</a>
        </li>
        <li>
          <a class="nav-link" href="./our-mentors.html">Our mentors</a>
        </li>
        <li>
          <a class="nav-link" href="./reviews.html">Reviews</a>
        </li>
        <li>
          <a class="nav-link" href="./footer.html">Contacts</a>
        </li>
      </ul>

      <div class="mobile-icons">
        <a class="link-camera" href="#">
          <svg class="svg-camera" width="16px" height="16px">
            <use href="./img/icons/sprite.svg#icon-sign-up"></use>
          </svg>
        </a>

        <a class="mobile-menu" href="#">
          <svg class="svg-burger" width="32px" height="22px">
            <use href="./img/icons/sprite.svg#icon-mobile-menu"></use>
          </svg>
        </a>
      </div>
    </nav>

    <a class="button-link" href="#">Sign up</a>
  </div>
</header>
