<header class="header-section">
    <div class="header-inner container">
         <nav class="header-nav">
            <a class="logo" href="./header.html">
                <svg width="123px" height="16px" > <use href="./img/icons/sprite.svg#icon-logo"></use> </svg>
            </a>
            <ul class="nav-list">
                <li>
                    <a class="nav-link" href="./about-us.html">About us</a>
                </li>
                <li>
                    <a class="nav-link" href="./our-courses.html">Our courses</a>
                </li>
                <li>
                    <a class="nav-link" href="./our-mentors.html">Our mentors</a>
                </li>
                <li>
                    <a class="nav-link" href="./reviews.html">Reviews</a>
                </li>
                <li>
                    <a class="nav-link" href="./footer.html">Contacts</a>
                </li>

            </ul>

         </nav>

         <div class="button-header">
            <a class="button-link" href="#">Sign up</a>

         </div>


    </div>
</header>
