<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      Discover the magic of <span class="accent">photography</span> in our
      school
    </h1>
    <p class="hero-text">
      Our photography school offers an unforgettable journey, where you can
      learn the basics of composition, master technical skills, translate your
      unique ideas.
    </p>

    <div>
      <div class="hero-img">
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
      </div>
      <div>
        <a>
          Our happy students
          <svg class="" width="" height="">
            <use href=""></use>
          </svg>
        </a>
      </div>
    </div>

    <div>
      <div>
        <svg class="" width="" height="">
          <use href=""></use>
        </svg>
      </div>

      <p>Reviews</p>
      <p>+1500</p>
    </div>
  </div>
</section>
