<div class="backdrop is-hidden">
<div class="mobile-menu">
  <button class="close-mobile-menu-btn" type="button">
    <svg class="close-btn-icon" width="32" height="32" aria-label="close icon">
      <use href="./img/icons/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <nav class="mobile-menu-nav">
    <ul class="mobile-menu-list">
      <li class="mobile-menu-item act"><a href="#about-us">About us</a></li>
      <li class="mobile-menu-item"><a href="#our-courses">Our Courses</a></li>
      <li class="mobile-menu-item"><a href="#our-mentors">Our Mentors</a></li>
      <li class="mobile-menu-item"><a href="#reviews">Reviews</a></li>
      <li class="mobile-menu-item"><a href="#contacts">Contacts</a></li>
    </ul>
  </nav>
</div>
</div>