<section class="section" id="our-mentors">
  <div class="container">
    <h2 class="mentors-title">Our <span class="accent">mentors</span></h2>
    <ul class="mentors-list">
      <li class="mentors-item">
        <img
          srcset="
            ./img/mentors/emilia-smith.webp    1x,
            ./img/mentors/emilia-smith@2x.webp 2x
          "
          src="./img/mentors/emilia-smith.webp"
          alt="Emilia Smith"
          width="180"
          height="180"
          class="mentor-img"
        />
        <div class="mentors-info">
          <h3 class="mentor-name">Emilia Smith</h3>
          <p class="mentor-experience">1.5 years of experience</p>
        </div>
      </li>
      <li class="mentors-item">
        <img
          srcset="
            ./img/mentors/alex-lebedev.webp    1x,
            ./img/mentors/alex-lebedev@2x.webp 2x
          "
          src="./img/mentors/alex-lebedev.webp"
          alt="Alex Lebedev"
          width="180"
          height="180"
          class="mentor-img"
        />
        <div class="mentors-info">
          <h3 class="mentor-name">Alex Lebedev</h3>
          <p class="mentor-experience">3.5 years of experience</p>
        </div>
      </li>
      <li class="mentors-item">
        <img
          srcset="
            ./img/mentors/mia-dubrovska.webp    1x,
            ./img/mentors/mia-dubrovska@2x.webp 2x
          "
          src="./img/mentors/mia-dubrovska.webp"
          alt="Mia Dubrovska"
          width="180"
          height="180"
          class="mentor-img"
        />
        <div class="mentors-info">
          <h3 class="mentor-name">Mia Dubrovska</h3>
          <p class="mentor-experience">2.0 years of experience</p>
        </div>
      </li>
      <li class="mentors-item">
        <img
          srcset="
            ./img/mentors/eliot-kovalev.webp    1x,
            ./img/mentors/eliot-kovalev@2x.webp 2x
          "
          src="./img/mentors/eliot-kovalev.webp"
          alt="Eliot Kovalev"
          width="180"
          height="180"
          class="mentor-img"
        />
        <div class="mentors-info">
          <h3 class="mentor-name">Eliot Kovalev</h3>
          <p class="mentor-experience">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
