<section class="section">
  <div class="container">
    <h2 class="general-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <article>
          <div class="container-reviews">
            <div class="container-reviews-response">
              <img
                class="reviews-images"
                srcset="
                  ./img/reviews/abraham-baker.webp    1x,
                  ./img/reviews/abraham-baker@2x.webp 2x
                "
                src="./img/reviews/abraham-baker.webp"
                alt="photo Abraham Baker"
                width="56"
              />
              <div class="container-reviews-person">
                <h3 class="reviews-subtitle">Abraham Baker</h3>
                <p class="reviews-status">Student</p>
              </div>
            </div>
            <ul class="reviews-icons-list">
              <li>
                <svg class="reviews-icon-star" width="20" height="20">
                  <use href="./img/icons/sprite.svg#icon-review-star"></use>
                </svg>
              </li>
              <li>
                <svg class="reviews-icon-star" width="20" height="20">
                  <use href="./img/icons/sprite.svg#icon-review-star"></use>
                </svg>
              </li>
              <li>
                <svg class="reviews-icon-star" width="20" height="20">
                  <use href="./img/icons/sprite.svg#icon-review-star"></use>
                </svg>
              </li>
              <li>
                <svg class="reviews-icon-star" width="20" height="20">
                  <use href="./img/icons/sprite.svg#icon-review-star"></use>
                </svg>
              </li>
              <li>
                <svg class="reviews-icon-dark" width="20" height="20">
                  <use
                    href="./img/icons/sprite.svg#icon-review-star-dark"
                  ></use>
                </svg>
              </li>
            </ul>
          </div>
          <p class="text-reviews">
            I am very pleased that I decided to enroll in photography school.
            The teachers turned out to be very talented and experienced
            professionals who share their knowledge and are dedicated to their
            work. I was able to expand my skills and discover my own style.
          </p>
        </article>
      </li>

      <li class="reviews-item">
        <article>
          <div class="container-reviews">
            <div class="container-reviews-response">
              <img
                srcset="
                  ./img/reviews/amanda-lowery.webp    1x,
                  ./img/reviews/amanda-lowery@2x.webp 2x
                "
                src="./img/reviews/amanda-lowery.webp"
                alt="photo Amanda Lowery"
                width="56"
              />
              <div class="container-reviews-person">
                <h3 class="reviews-subtitle">Amanda Lowery</h3>
                <p class="reviews-status">Student</p>
              </div>
            </div>

            <ul class="reviews-icons-list">
              <li>
                <svg class="reviews-icon-star" width="20" height="20">
                  <use href="./img/icons/sprite.svg#icon-review-star"></use>
                </svg>
              </li>
              <li>
                <svg class="reviews-icon-star" width="20" height="20">
                  <use href="./img/icons/sprite.svg#icon-review-star"></use>
                </svg>
              </li>
              <li>
                <svg class="reviews-icon-star" width="20" height="20">
                  <use href="./img/icons/sprite.svg#icon-review-star"></use>
                </svg>
              </li>
              <li>
                <svg class="reviews-icon-star" width="20" height="20">
                  <use href="./img/icons/sprite.svg#icon-review-star"></use>
                </svg>
              </li>
              <li>
                <svg class="reviews-icon-dark" width="20" height="20">
                  <use
                    href="./img/icons/sprite.svg#icon-review-star-dark"
                  ></use>
                </svg>
              </li>
            </ul>
          </div>
          <p class="text-reviews">
            The courses at the photography school exceeded all my expectations.
            I gained not only technical knowledge, but also inspiration and
            motivation to reach new heights in my creativity. Hands-on classes
            and workshops helped me understand different styles of photography.
          </p>
        </article>
      </li>
    </ul>
  </div>
</section>
