<section class="section">
    <div class="container">
    <div class="sign-up-thumb">
        <div class="sign-up">
            <h2 class="general-title">Sign <span class="accent">up</span></h2>
            <p class="par-sign-up-first"> Please use the form below to contact us. Enter your name, email, and message
                and we'll get back to you shortly. </p>
                <label for="user-name" class="visually-hidden">Name</label>
                <input class="input-sign-up" type="text" id="user-name" name="user-name" placeholder="Enter your name" pattern="[A-Za-z\s'-]+ [A-Za-z\s'-]+" />
                <label for="user-email" class="visually-hidden">Email</label>
                <input class="input-sign-up" type="email" id="user-email" name="user-email" placeholder="Enter your email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
                <label for="user-comment" class="visually-hidden">Messages</label>
                <textarea class="textarea-sign-up" id="user-comment" name="user-comment" placeholder="Messages"></textarea>
            <button class="sign-up-button" type="submit">Send</button>
            <p class="par-sign-up-second"> By clicking on “Send” button, you agree to our <a class="link-sign-up" href="">Privacy Policy</a>, and allow Promodo to use this information for marketing purposes. </p>
        </div>
        <div class="photos-sign-up">
            <div class="image-first-sign-up">
                <picture class="image-sign-upp">
                    <source media="(max-width: 1280px)"
                        srcset="./img/sign-up/sign-up_1280.webp 1x, ./img/sign-up/sign-up_1280@2x.webp 2x" />
                    <source media="(min-width: 1440px)"
                        srcset="./img/sign-up/sign-up_1440.webp 1x, ./img/sign-up/sign-up_1440@2x.webp 2x" />
                    <img src="./img/sign-up/sign-up_1440.webp" alt="Photo-cameraa" />
                </picture>
            </div>
            <div class="image-second-sign-up">
                <picture class="image-sign-up">
                    <source media="(max-width: 1280px)"
                        srcset="./img/sign-up/sign-up-camera_1280.webp 1x, ./img/sign-up/sign-up-camera_1280@2x.webp 2x" />
                    <source media="(min-width: 1440px)"
                        srcset="./img/sign-up/sign-up-camera_1440.webp 1x, ./img/sign-up/sign-up-camera_1440@2x.webp 2x" />
                    <img src="./img/sign-up/sign-up-camera_1440.webp" alt="Photo-camera" />
                </picture>
            </div>
        </div>
    </div>
    </div>
</section>
