html {
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--black, #121212);
    font-size: 16px;
    color: var(--white);
}

.accent {
    color: var(--brown);
}

.section {
    padding-top: 75px;
    padding-bottom: 75px;
}

.section-footer {
    padding-top: 75px;
}

.general-title {
    color: var(--white);
    font-size: 48px;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: -0.04em;
}

.container {
    min-width: 320px;
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1110px;
        padding: 0 15px;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1270px;
        padding: 0 15px;
    }
}