/* Базові стилі Mobile first */

ol {
  padding: 0;
  margin: 0;
  
}

li {
  counter-increment: count;
  list-style-type: none;
  position: relative;
}

li::before {
  content: counter(count, decimal-leading-zero);
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 42px;
  color: rgba(255, 255, 255, 0.4);
  font-family: DM Sans;
  font-size: 14px;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.02em;
}

.list-item {
  width: 335px;
  height: 398px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  padding: 28px;
}

.container-our-courses {
  margin-bottom: 40px;
}

.general-title {
  margin-bottom: 20px;
  display: inline-block;
  text-transform: capitalize;
}

.text {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.02em;
  width: 335px;
}

.list {
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
  counter-reset: count;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 80px;
}

.course-numbers {
  color: rgba(255, 255, 255, 0.4);
  font-family: DM Sans;
  font-size: 14px;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.02em;
}

.course-title {
  color: #fff;
  font-family: DM Sans;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14; /* 114.286% */
  margin-bottom: 164px;
  display: inline-block;
  width: 279px;
  height: 64px;
}

.course-description {
  color: rgba(255, 255, 255, 0.5);
  font-family: DM Sans;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  width: 279px;
}


.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--fill);
  border: none;
  padding: 6px;
  position: absolute;
  top: 28px;
  right: 28px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.arrow:hover,
.arrow:focus {
  background-color: #bea69e;
}

.icon {
  stroke: #777777;
}

.icon:hover,
.icon:focus {
  stroke: #fff;
}


/* Media */


@media only screen and (min-width: 768px) {
  .container-our-courses {
    margin-bottom: 50px;
    display: flex;
    gap: 58px;
  }

  .general-title {
    margin-bottom: 26px;
  }

  .list {
    flex-direction: row;
  }

  .text {
    color: #fff;
    font-family: DM Sans;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    width: 381px;
  }

  .course-title {
    width: 278px;
    height: 64px;
    margin-bottom: 180px;
  }

  li::before {
    width: 14px;
    height: 18px;
  }

  .arrow {
    top: 32px;
    right: 32px;
    margin-bottom: 46px
  }

  .course-description {
    width: 278px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }

  .list-item {
    width: 342px;
    height: 452px;
    padding: 32px;
  }

  .list {
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .container-our-courses {
    gap: 410px;
  }

  .text {
    width: 405px;
  }

  .list-item {
    width: 347px;
    height: 452px;

  }

  .list {
    flex-wrap: nowrap;
    margin-bottom: 150px;
  }  

  .course-title {
    width: 265px;
  }

  .course-description {
    width: 283px;
  }

  li::before {
    margin-bottom: 46px;
  }
}

@media only screen and (min-width: 1440px) {

}