.general-title {
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 1.14;
}

.container-reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.reviews-item {
    flex-basis: 100%;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    padding: 20px;
}

.reviews-item:not(:first-child) {
    display: none;
}

.container-reviews-response {
    display: flex;
    gap: 4px;
    margin-bottom: 4px;
}

.reviews-images {
    display: block;
    max-width: 100%;
    height: auto;
}

.reviews-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 4px;
}

.reviews-status {
    color: rgba(255, 255, 255, 0.50);
    font-size: 12px;
    letter-spacing: -0.02em;
    line-height: 1.33;
}

.reviews-icons-list {
    display: flex;
    gap: 4px;
    margin-left: 60px;
}

.reviews-icon-star {
    max-width: 16px;
    max-height: 16px;
    fill: var(--brown);
}

.reviews-icon-dark {
    max-width: 16px;
    max-height: 16px;
    fill: var(--fill-stroke);
}

.text-reviews {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

/* ============= Media ================ */

/* --------- Tablet --------- */

@media screen and (min-width: 768px) {

    .general-title {
        font-size: 48px;
        line-height: 1.12;
    }

    .reviews-title {
        margin-bottom: 50px;

    }

    .reviews-list {
        padding-left: 32px;
        padding-right: 32px;
    }

    .reviews-item {
        padding: 20px;
    }

    .container-reviews-response {
        gap: 10px;
    }

    .reviews-subtitle {
        line-height: 1.4;
    }

    .reviews-status {
        font-size: 14px;
        margin-bottom: 23px;
    }

    .reviews-icon-star {
        max-width: 20px;
        max-height: 20px;
    }

    .reviews-icon-dark {
        max-width: 20px;
        max-height: 20px;
    }

    .text-reviews {
        line-height: 1.25;
        letter-spacing: -0.04em;
    }

}


/* ---------- Desktop ------------*/

@media screen and (min-width: 1280px) {
    .reviews-list {
        display: flex;
        gap: 20px;
        padding: 0;
    }

    .reviews-item {
        flex-basis: calc((100% - 20px) / 2);
        padding: 20px;
    }

    .reviews-item:not(:first-child) {
        display: block;
    }

    .container-reviews-response {
        gap: 10px;
    }

}

/* 1440px */
@media screen and (min-width: 1440px) {

    .reviews-item {
        padding: 20px;
    }

    .text-reviews {
        letter-spacing: -0.03em;
    }
}