.container {
    max-width: 375px;
}

.general-title {
    font-size: 28px;
    line-height: 1.14;   
}

.reviews-title {
    margin-bottom: 40px;
}

.container-reviews {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.reviews-item {
    flex-basis: 100%;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    padding: 20px;
}

.reviews-item:not(:first-child) {
    display: none;
}

.container-reviews-response {
    display: flex;
    margin-bottom: 10px;
}

.container-reviews-person {
    margin-left: 10px;
}

.reviews-images {
    display: block;
    max-width: 100%;
    height: auto;
}

.reviews-subtitle {
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 4px;
}

.reviews-status {
    color: rgba(255, 255, 255, 0.50);
    font-size: 12px;
    line-height: 1.33px;
    letter-spacing: -0.02em;
}

.reviews-icons-list {
    display: flex;
    gap: 4px;
}

.reviews-icon-star {
    max-width: 16px;
    max-height: 16px;
    fill: var(--brown);
}

.reviews-icon-dark {
    max-width: 16px;
    max-height: 16px;
    fill: var(--fill-stroke);
}

.text-reviews {
    font-size: 14px;
    color: var(--white);
    line-height: 1.28;
    letter-spacing: -0.02em;
    max-width: 295px;
}

/* ============= Media ================ */

@media screen and (min-width: 320px) {
    .container {
        width: 100%;
        max-width: 335px;
    }

}


/* --------- Tablet --------- */

@media screen and (min-width: 768px) {
    .container {
        max-width: 704px;
        padding: 0 32px;
    }

    .general-title {
        font-size: 48px;
        line-height: 1.12;
    }

    .reviews-title {
        margin-bottom: 50px;
          
    }

    .reviews-list {
        padding-left: 32px;
        padding-right: 32px;
    }

    .reviews-item {
        padding: 23px 20px 20px;
    }

    .container-reviews {
        margin-bottom: 23px;
    }

    .reviews-subtitle {
        line-height: 1.4;
    }

    .reviews-status {
        font-size: 14px;
        margin-bottom: 23px;
    }

    .reviews-icons-list {
        margin-left: auto; 
    }

    .reviews-icon-star {
        max-width: 20px;
        max-height: 20px;
    }
    
    .reviews-icon-dark {
        max-width: 20px;
        max-height: 20px;
    }

    .text-reviews {
        font-size: 16px;
        max-width: 600px;
        line-height: 1.25;
    }

}


/* ---------- Desktop ------------*/

@media screen and (min-width: 1280px) {
    .container {
        padding: 0 15px;
        max-width: 1080px;
    }

    .reviews-list {
        display: flex;
        gap: 20px;
        padding: 0;
    }

    .reviews-item {
        flex-basis: ((100% - 20px) / 2);
        padding: 23px 20px 40px; 
    }
    
    .reviews-item:not(:first-child) {
        display: block;
    }

    .container-reviews {
        margin-bottom: 20px;
    }

    .text-reviews {
        max-width: 490px;
    }

 
}

/* 1440px */

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1240px;
    }

   .reviews-item {
    padding: 23px 20px 20px;
   }
}