.sign-up-button {
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 12px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-up-button:focus {
    background-color: var(--fill);
    color: var(--brown);
}

.input-sign-up {
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--white);
    letter-spacing: 0.04em;
    line-height: 1.17;
    border-radius: 12px;
    background-color: transparent;
    outline: transparent;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 60px;
}

.input-sign-up:focus {
    border-color: var(--white);
}

.textarea-sign-up {
    width: 100%;
    letter-spacing: 0.04em;
    line-height: 1.17;
    background-color: transparent;
    padding: 20.55px 18px;
    outline: transparent;
    resize: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--white);
    margin-bottom: 40px;
}

.textarea-sign-up:focus {
    border-color: var(--white);
}

.link-sign-up {
    text-decoration: underline;
}

.par-sign-up-first {
    color: var(--white);
    margin-bottom: 40px;
}

.par-sign-up-second {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    line-height: 1.17;
}

.image-first-sign-up {
    width: 190px;
    height: 288px;
    border-radius: 100px;
    margin-top: 252px;
    background-color: var(--brown);
}

.image-second-sign-up {
    width: 350px;
    height: 540px;
    border-radius: 200px;
    background-color: var(--fill);
}

.photos-sign-up {
    flex-direction: row;
    gap: 20px;
}

.container {
    display: flex;
    flex-direction: row;
}

.general-title {
    margin-bottom: 20px;
}

@media screen and (min-width: 320px) {
    .container {
        justify-self: left;
    }

    .sign-up {
        width: 100%;
    }

    .photos-sign-up {
        display: none;
    }

    .sign-up-button {
        width: 100%;
        height: 48px;
    }

    .input-sign-up {
        padding: 14px 18px;
        margin-bottom: 8px;
    }

    .textarea-sign-up {
        height: 112px;
        padding: 14px 18px;
    }

    .general-title {
        font-size: 30px;
        font-weight: 400;
    }

    .par-sign-up-first {
        font-size: 14px;
    }

    .par-sign-up-second {
        font-size: 14px;
    }
}
@media screen and (min-width: 768px) {
    .sign-up {
        width: 480px;
    }

    .sign-up-button {
        width: 479px;
        height: 60px;
    }

    .input-sign-up {
        padding: 20.55px 18px;
        margin-bottom: 14px;
    }

    .textarea-sign-up {
        height: 120px;
        padding: 20.55px 18px;
    }

    .general-title {
        font-size: 48px;
        font-weight: 500;
    }

    .par-sign-up-first {
        font-size: 16px;
    }

    .par-sign-up-second {
        font-size: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .photos-sign-up {
        display: flex;
    }

    .container {
        justify-content: center;
        gap: 60px;
    }

    .image-sign-upp {
        width: 203px;
        height: 202px;
    }

    .image-sign-up {
        width: 240px;
        height: 296px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        gap: 200px;
    }

    .image-sign-upp {
        width: 215px;
        height: 215px;
    }

    .image-sign-up {
        width: 254px;
        height: 313px;
    }
}
